body {
    background-color: #f4f4f4;
    color:#333;
}
header{
    background: #333;
    color: #fff;
}

img {
    width: 90px;
    height:auto ;
    padding: 20px;
}

.item .descricao {
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
    line-height: 1.4;
  }

  /*tema Dark*/
body.dark{
    backgroud:#1a1a1a;
    color: #e0e0e0;
}

body.dark header {
    background: #0d0d0d;
    color: #e0e0e0;
}

body.dark .item,
body.dark #detalhes {
background: #2d2d2d;
color: #e0e0e0;
}

/*botão dark mode */
#darkMode {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid  #333;
}

